<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.dao.CatDao">
    <resultMap id="voCatMap" type="com.qfedu.vo.VoCat">
        <id column="cid" property="cid"></id>
         <result column="cnum" property="cnum"></result>
        <result property="gid" column="gid"></result>
        <result column="sid" property="sid"></result>
        <result property="uid" column="uid"></result>
    </resultMap>

    <insert id="addCat" parameterType="voCat">
        INSERT INTO cat VALUES (null,#{uid},#{gid},#{sid},#{cnum})
    </insert>

    <update id="changeCnum" parameterType="voCat" >
        UPDATE cat set cnum=#{cnum} WHERE cid =#{cid}
    </update>

    <select id="getCnum" parameterType="voCat" resultType="Integer">
        SELECT cnum from cat WHERE cid =#{cid}
    </select>

    <delete id="delCatById" parameterType="map">
        DELETE from cat where cid in
        <foreach collection="cids" item="cid" index="index" open="(" separator="," close=")">
            #{cid}
        </foreach>
    </delete>
</mapper>