<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.dao.GoodsDao">
    <resultMap id="goodsMap" type="com.qfedu.pojo.Goods">
        <id column="gid" property="gid"></id>
        <result column="gname" property="gname"></result>
        <result column="detail" property="detail"></result>
        <result column="price" property="price"></result>
        <result column="express" property="express"></result>
        <result column="saleNum" property="saleNum"></result>
        <result column="brand" property="brand"></result>
        <result column="material" property="material"></result>
        <result column="tid" property="tid"></result>
        <result column="pid" property="pid"></result>
        <association property="goodType" resultMap="com.qfedu.dao.GoodTypeDao.goodsTypeMap"></association>
        <association property="picture" resultMap="com.qfedu.dao.PictureDao.pictureMap"></association>
        <association property="size" resultMap="com.qfedu.dao.SizeDao.sizeMap"></association>
        <association property="voCat" resultMap="com.qfedu.dao.CatDao.voCatMap"></association>
    </resultMap>

    <select id="typeToGoods" parameterType="Integer" resultMap="goodsMap">

        select g.*,gt.tname,gt.tid gtid ,p.path from goods g
        INNER JOIN goodstype gt
        on g.tid = gt.tid
        INNER JOIN picture p
        on p.id = g.pid
        where  g.tid = #{tid}

    </select>

    <select id="showGoodSAll" resultMap="goodsMap">
         select g.*,gt.tname,gt.tid gtid from goods g,goodstype gt
        where g.tid = gt.tid limit 0,4
    </select>


    <select id="pictureToGoods" parameterType="Integer" resultMap="goodsMap">
        SELECT * from picture p
        INNER JOIN (select g.*,gt.tname,gt.tid gtid from goods g,goodstype gt
        where g.tid = gt.tid) a
        on p.id=a.pid
        WHERE p.id =#{pid};
    </select>

     <select id="showCat" resultMap="goodsMap">
        select  g.*,A.cid,A.uid,A.cnum,s.*,p.path from cat A
         left join goods g
          on A.cid = g.gid
         left join size s
         on s.sid = A.sid
         left join picture p
         on p.id = g.pid
     </select>
</mapper>
