<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qfedu.dao.UserDao">
	
	<select id="findByName" parameterType="string" resultType="user">

		select * from t_user where username=#{name}
	</select>

	<select id="findRolesByName" parameterType="string" resultType="string">
		select r.rname from t_user u
		inner join t_user_role ur
		on ur.uid=u.uid
		INNER JOIN t_role r
		on r.rid=ur.rid
		where u.username=#{name}
	</select>

	<select id="findPermsByName" parameterType="string" resultType="string">
		select p.pdesc from t_user u
		INNER JOIN t_user_role ur
		on ur.uid=u.uid
		INNER JOIN t_role_permision rp
		on rp.rid=ur.rid
		inner join t_permision p
		on p.pid=rp.pid
		where u.username=#{name} and p.pdesc is not null
	</select>

</mapper>